@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-primary: #24389c;
  --color-secondary: #4e5e81;
  --color-tertiary: #004f11;
  --color-background: #f8f9ff;
  --color-surface: #f8f9ff;
  --color-surface-bright: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #454652;
  --color-outline: #757684;
  --color-outline-variant: #c5c5d4;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  --color-secondary-container: #c4d4fd;
  --color-on-secondary-container: #4b5b7e;
  --color-tertiary-container: #166921;
  --color-on-tertiary-container: #94e68e;

  --color-primary-fixed: #dee0ff;
  --color-primary-fixed-dim: #bac3ff;
  --color-on-primary-fixed: #00105c;
  
  --color-tertiary-fixed: #a3f69c;
  --color-tertiary-fixed-dim: #88d982;
}

/* Custom scrollbars for a clean high-density layout */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
